<section
  class="h-dvh w-dvw bg-black bg-[radial-gradient(rgba(229,231,235,0.15)_1px,transparent_1px)] [background-size:16px_16px]"
>
  <article
    class="animate-fade-in m-auto flex h-dvh w-dvw flex-col items-center justify-center"
  >
    <h1 class="mb-4 text-7xl">Product</h1>
    <p class="max-w-[50ch] text-center text-2xl font-light">
      Landing page created to demonstrate how quick, dynamic and easy it is to
      create a website with Astro
    </p>
  </article>
</section>
