<section
  class="relative h-dvh w-dvw bg-[url('/images/hero.webp')] bg-cover bg-center bg-no-repeat"
>
  <div
    class="absolute top-0 left-0 h-dvh w-[50dvw] mask-r-from-80% p-8 backdrop-blur-[5px]"
  >
  </div>
  <article
    class="relative z-10 ml-[10%] flex flex-col justify-center rounded-xl pt-[30dvh]"
  >
    <h1 class="text-7xl">ViControl</h1>
    <p class="max-w-[50ch] text-2xl font-light">
      Plataforma IoT desarrollada para la monitorización y parametrización
      remota de tus equipos de un modo fácil, directo y sencillo.
    </p>
  </article>
</section>
